.header {
  text-align: center;
  background-color: #CFF9FF;
  height: 300px;
  border-radius: 100px;
}

.header h1 {
  font-size: 80px;
  font-weight: 700;
}

.header h2 {
  font-weight: 500;
}

.launch {
  text-align: center;
}